<h3>Teams:</h3>
<div>
  <% Team.each do |team| %>
  <!-- <% @game.teams.each do |team| %> -->
    <%= team.name %>
    <ul>
      <% team.players do |player| %>
        <li><%= player.display_name %></li>
      <% end %>
    </ul>
  <% end %>
</div>
