<%= form_for @game, html: {class: "action-form"} do |f| %>
  <%= f.text_field :name, placeholder: 'Create a new game...' %>
    <div class="actions container">
    <button class="btn waves-effect cyan accent-1, z-depth-2" type="submit" name="action">Start A New Game
      <i class="material-icons right">send</i>
    </button>
  </div>
<% end %>
