<div id="timer"></div>
<div id="live" data-userid="<%= current_user.id %>"></div>
<%= render 'games/state_update_script', game: @game %>
<audio id='toot' src='https://www.soundjay.com/misc/sounds/fail-buzzer-01.mp3'></audio>
