<%= @game.name %>

<ul>
  <% @game.participants.each do |player| %>
    <li><%= player.display_name %></li>
  <% end %>
</ul>

 <%= render 'cards/form', card: Card.new, game: @game %>
 <%= render 'games/start', game: @game %>
