<div id='create-card-form'>
  <%= form_for card do |f| %>
    <%= f.text_field :concept, html: {placeholder: 'hello'} %>
    <%= hidden_field_tag :game_id, game.id %>

    <div class="actions container">
      <button class="btn waves-effect cyan accent-1, z-depth-2" type="submit" name="action">ADD CARD
        <i class="material-icons right">send</i>
      </button>
    </div>
  <% end %>
</div>

