@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 500px) and (min-width: 420px) {
  h3.game-name {
    margin: 3px;
    font-size: 9vh;
    text-align: center;
  }

  header {
    font-size: 3vh;
  }

  #login-form-div{
    min-width: 80%;
    font-size: 2.5vh;
  }

  .btn {
    margin-left: 0;
    margin-right: 0;
    display: inline-grid;
    font-size: 18pt;
  }

  .btn-2 {
    margin-left: 0;
    margin-right: 0;
    display: inline-grid;
    font-size: 16pt;
  }
}

@media screen and (max-width: 300px) and (min-width: 420px) {
  #login-form-div {
    border: none;
  }

  label {
    font-size: .8vh;
  }

  input {
    font-size: .8vh;
    margin-right: 4px;
    margin-left: 4px;
  }

  .btn {
    margin-left: 0;
    margin-right: 0;
    display: inline-grid;
    font-size: 10pt;
    text-align: center;
  }
}

h2.banner {
  text-align: center;
  background: -webkit-linear-gradient(top, rgba(40,96,144,.2), rgba(255,0,0,1));
    background: -o-linear-gradient(top, rgba(246, 248, 220,.2), rgba(255,0,0,1));
    background: -moz-linear-gradient(bottom, rgba(246, 248, 220,.2), rgba(255,0,0,1));
    background: linear-gradient(to bottom, rgba(246, 248, 220,0), rgba(246, 248, 220,.5));
}

#round-container {
  text-align: center;
}

h4.participants {
  text-align: center;
}

.player-name {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 3vh;
}

#new_card {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 3vh;
}

#card_concept {
  text-align: center;
}

#create-card-form {
  text-align: center;
}

.actions-container {
  text-align: center;
}

.btn {
  text-align: center;
}

.action-form {
  text-align: center;
}

.game-ready-status {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

h4.banner {
  text-align: center;
}

.team-1 {
  padding-left: 15px;
  padding-right: 15px;
}

.team-2 {
  padding-left: 15px;
  padding-right: 15px;
}

h5#team-name {
  font-weight: bold;
  text-align: center;
  font-size: 4vh;
}

.team-1, .team-2, #new_card{
  background: -webkit-linear-gradient(top, rgba(40,96,144,.2), rgba(255,0,0,1));
  background: -o-linear-gradient(top, rgba(246, 248, 220,.2), rgba(255,0,0,1));
  background: -moz-linear-gradient(bottom, rgba(246, 248, 220,.2), rgba(255,0,0,1));
  background: linear-gradient(to bottom, rgba(246, 248, 220,0), rgba(246, 248, 220,.5));
}

#start-game {
  padding-top: 20px;
}

.btn-round {
  padding-top: 20px;
  margin-top:20px;
  margin-bottom:10px;
}

#display-name {
  float: right;
  margin-right: 2em;
  text-align: right;
  font-weight: bold;
  font-size: 4vh;
  padding: 5px 3px 5px 8px;
}

#brand {
  height: auto;
  width: auto;
  max-width: 350px;
  max-height: 350px;
  text-align: center;
  padding-top: 20px;
}

.navbar-brand {
  text-align: center;
}

#card-concept {
  text-align: center;
}

.game-form {
  justify-content: space-between;
  width:25%;
}

.game-form input{
  width: 20vw;
  max-width: 120px;
  padding: 0;
  margin: auto;
  text-align: center;
}

.actions {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display:flex;
  justify-content: space-around;
}

.next-container {
  padding-top: 20px;
}

.next-container form input {
  width: 25vw;
}

.next-turn {
  margin: 10px;
  padding: 20px;
  text-align: center;
}

#observer-container {
  text-align: center;
}

.buzzer {
  text-align: center;
}

.btn-floating.btn-large.buzz {
    width: 126px;
    height: 126px;
}

.material-icons-1 {
    font-size: 45px;
    font-weight: bold;
}
.myButton {
  -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
  -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
  background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
  background-color:#c62d1f;
  -moz-border-radius:38px;
  -webkit-border-radius:38px;
  border-radius:38px;
  border:7px solid #d02718;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:22px;
  padding:21px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #82160e;
}

form.buzzer {
  margin: auto auto;
  margin-bottom: 2vh;
}

.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
  background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
  background-color:#f24437;
}

.myButton:active {
  position:relative;
  top:1px;
}
