@media (min-width: 700px), handheld and (orientation: landscape) { ... }
@media handheld and (grid) and (max-width: 15em) { ... }
@media print and (min-resolution: 300dpi) { ... }



header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

h2 {
  text-align: center;
  font-family: Papyrus;
  background: -webkit-linear-gradient(top, rgba(40,96,144,.2), rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(246, 248, 220,.2), rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(246, 248, 220,.2), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(246, 248, 220,0), rgba(246, 248, 220,.5)); /* Standard syntax (must be last) *
}
