/*@media (min-width: 700px), handheld and (orientation: landscape) { ... }
@media handheld and (grid) and (max-width: 15em) { ... }
@media print and (min-resolution: 300dpi) { ... }*/

@media screen and (max-width: 500px) and (min-width: 10px) {
  h1 {
    font-size: 35pt;
    margin: 3px;
    font-size: 3vh;
  }

  headers {
    font-size: 3vh;
  }

  #login-form-div{
    min-width: 80%;
    font-size: 2.5vh;
  }

  .btn {
    margin-left: 0;
    margin-right: 0;
    display: inline-grid;
    font-size: 18pt;
    font-family: Monaco;
  }

  .btn-2 {
    margin-left: 0;
    margin-right: 0;
    display: inline-grid;
    font-size: 16pt;
    font-family: Monaco;
  }

@media screen and (max-width: 300px) and (min-width: 10px) {

  #login-form-div {
    border: none;
  }

  label {
    font-size: .8vh;
  }

  input {
    font-size: .8vh;
    margin-right: 4px;
    margin-left: 4px;
  }

  .btn {
    margin-left: 0;
    margin-right: 0;
    display: inline-grid;
    font-size: 10pt;
  }

}


header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.nav-bar {
  font-family: Monaco;
}

a:hover {
  color: #C0C0C0;
  text-decoration: none;
}

h2 {
  text-align: center;
  font-family: Monaco;
  background: -webkit-linear-gradient(top, rgba(40,96,144,.2), rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(246, 248, 220,.2), rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(246, 248, 220,.2), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(246, 248, 220,0), rgba(246, 248, 220,.5)); /* Standard syntax (must be last) *
}


